@media (max-width: 767px) {
    .custom-header {
        background: #fff;
        margin-bottom: 40px;
    }

    .custom-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1

    }

    .menu-layout {
        position: absolute;
        width: 70%;
        margin-top: 40px;
        color: red
    }

    .header-search {
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: center;
        margin-top: 10px;
        width: 90%;
    }

    .my-toast {
        margin-left: 150px;
    }
    .custom-body {
        margin-left: 5%;
        margin-right: 5%
    }
}

@media (min-width: 768px) {
    .custom-header {
        background: #fff;
        margin-bottom: 40px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .custom-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1;

    }

    .menu-layout {
        position: absolute;
        width: 30%;
        margin-top: 40px;
        color: red
    }

    .header-search {
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: center;
        margin-top: 10px;
        width: 50%;
    }

    .custom-body {
        margin-left: 20%;
        margin-right: 20%
    }

}